@tailwind base;

@layer base {
  :root {
    @apply leading-normal font-normal bg-white dark:bg-black-light text-midnight-light dark:text-white-light antialised
  }

  a {
    @apply font-medium dark:text-purple-darkest decoration-inherit hover:text-purple dark:hover:text-purple-dark
  }

  body {
    @apply m-0 flex place-items-center min-w-320 min-h-screen
  }

  h1 {
    @apply text-5xl
  }

  button {
    @apply bg-white-dark dark:bg-black dark:hover:border-purple-darkest border border-solid border-transparent rounded-lg py-2.5 px-5 text-base font-medium font-inherit cursor-pointer transition-border-color duration-250;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
